.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--background-color);
    color: var(--foreground-color);
    padding: var(--spacing-2);
    display: flex;
    justify-content: center;
    box-shadow: var(--elevation);
  
    .navbar-menu {
      display: flex;
      gap: var(--spacing-4);
  
      .navbar-button {
        background: none;
        border: none;
        color: var(--foreground-color);
        font-size: 1rem;
        font-family: var(--font-family);
        cursor: pointer;
        transition: color 0.3s;
        box-shadow: none;
  
        &:hover {
          color: var(--palette-primary-accent);
        }
  
        &:focus {
          color: var(--palette-primary);
        }
      }
    }
  }