# Ignore everything
*

# Except these folders
!.github/
!.github/**/*
!public/
!public/**/*
!src/
!src/**/*

# Except these files
!.editorconfig
!.gitignore
!bun.lockb
!eslint.config.js
!index.html
!package.json
!README.md
!tsconfig.json
!biome.json