# Ignore everything
*

# Except these folders
!.github/
!.github/**/*
!public/
!public/**/*
!src/
!src/**/*
!.vscode/
!.vscode/**/*

# Except these files
!.editorconfig
!.gitignore
!bun.lockb
!index.html
!package.json
!README.md
!tsconfig.json
!biome.json
!rsbuild.config.ts
!custom.d.ts
!.nvmrc