@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate(-50%, -55%);
  }
  25% {
    opacity: 0.25;
    transform: translate(-50%, -53%);
  }
  50% {
    opacity: 0.5;
    transform: translate(-50%, -52%);
  }
  75% {
    opacity: 0.75;
    transform: translate(-50%, -51%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
  
.fade-in-text {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--palette-primary);
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  opacity: 0;
  animation: fadeIn 5s ease-in-out forwards;
}

.home {
  padding-left: 0;
  padding-right: 0;
}